{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<!-- <header class="masthead" style="background-image: url('{{ url_for('static', filename='../static/assets/img/home-bg.jpg     ') }}  ')"> -->
<header class="masthead" style="background-image: url(' https://source.unsplash.com/1900x1267/?write,pen ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['blog_name']}}</h1>
                    <span class="subheading">{{params['subheading']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Todo: Fetch it using for loop from the database -->
            {% for post in posts %}  
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.subtitle}}</h3>
                        </a>
                <p >{{post.content[0:120]}}...</p>        
                <p class="post-meta">
                    Posted by
                    <a href="#!">Admin</a>
                    on {{post.date}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="custom" />
            {% endfor %}
            <!-- Pager-->
                    <!-- Pager-->
                    <div class="mb-4"><a class="btn btn-primary text-uppercase float-start margin" href="{{prev}}">&larr;Previous</a> 
                      <a class="btn btn-primary text-uppercase float-end margin" href="{{next}}">Next &rarr;</a></div>
         
        </div>
    </div>
</div>
{% endblock %}